<!-- inside app/views/welcome/index.html.erb -->
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">VILLAGERS APPS</h1>
        <p class="lead text-muted"></p>
        <%= form_tag ms_villagers_show_villagers_path, method: 'get'  do %>
          <div class="form-group col-md-12">
            <div class="row">
              <div class="col-md-5">
                Input Villagers
              </div>
              <div class="col-sm-4">
              <input type="text" id="jml" name="jml">
              </div>
            </div>
          </div>
          <div class="form-group col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= submit_tag "Calculate", class: "btn btn-sm btn-info" %>
                <%= submit_tag "Reset", name: 'reset', class: "btn btn-sm btn-warning" %>
              </div>
            </div>
          </div>
        <%end%>
        <br>

        <% if @ms_villager.present?%>
          <table class="table table-striped table-hover table-bordered table-sm ">
            <thead>
            <tr>
              <th>Year</th>
              <th>Killed</td>
            </tr>
            </thead>
            <% @ms_villager.times do |i|  %>
              <%i+1%>
              <tr>
                <td><%= i+1 %></td>
                <td><%= (1..i+1).map {|x| fib(x)}.sum %></td>
              </tr>
            <%end%>
          </table>
        <%end%>


      </div>
    </div>
  </section>
</main>


